[submodule "WeSplit"]
	path = WeSplit
	url = https://github.com/W1W1-M/WeSplit
[submodule "Convertio"]
	path = Convertio
	url = https://github.com/W1W1-M/Convertio
[submodule "GuessTheFlag"]
	path = GuessTheFlag
	url = https://github.com/W1W1-M/GuessTheFlag
[submodule "RockPaperScissors"]
	path = RockPaperScissors
	url = https://github.com/W1W1-M/RockPaperScissors
